include LICENSE
include MODEL_NOTICE.md
include CHANGELOG.md
include pyproject.toml
include pytest.ini
include environment.yml
include gpu.environment.yml
include uv.lock
include conda-lock.yml
include gpu.conda-lock.yml
recursive-include environments *.toml *.lock
recursive-exclude environments .lock
recursive-include security *.json
recursive-include conf *
recursive-include facetorch/configs *.yaml
recursive-include facetorch/models *.json
recursive-include docs *
recursive-include model_defs *.py *.md
recursive-include notebooks *.ipynb
recursive-include scripts *.py
recursive-include model_cards *
include data/input*/*.jpg
include data*/*.png
include tests*/*.py
